body {
  overflow:auto;
  margin: 0;
  width: auto;
  background-color: #f9f9f9;
}

.navBar{
  
  display: flex;
  align-items: center;
  position: absolute;
  height: 60px;
  left: 0px;
  top: 0px;
  right: 0px;
  background-color: #e3e3e8;
  padding-top: 0%;
  box-shadow: 0px 1px 10px #9c9da0;
  
}

.navBar > button{
  position: relative;
  display: flex;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  background-color: #3a0b86;
  line-height: 19px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 25px;
  color: #e3e3e8;
  right: 0px;
}

.navBar > img{
  padding-left: 20px;
  height: 50px;
  padding-right: 70%;
}

.navButton{

}